/* ===============DEFAULTS=================== */
:root {
    --primary-color: #FCFAEE;
    --secondary-color: #d9d9d9;
    --tertiary-color: #384B70;
    --box-bg-color: #FFFFFF;
    --highlights: #FFBF00;
    --highlights-text-color: #384B70;
    --button-color: #FFD400;
    --button-text: #384B70;
    --primary-section: #507687;
    --secondary-section: #D8A25E;
    --vertical-margin: 5dvw;
    --header-font: clamp(1.5rem, 3dvw, 2.5rem);
    --divider-text: clamp(14px, 2vw, 2rem);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: #4CAF50a0 solid 5px; */
}

ol,
ul,
li {
    list-style-type: none;
    all: unset;
}

ol,
ul,
p,
a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

a {
    color: unset;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.margin-wrapper {
    margin-inline: var(--vertical-margin);
}
/* ===============DEFAULTS=================== */

main {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
}

.lad-clothe>div {
    background-color: var(--primary-section);
}

.lad-clothe>div>p {
    font-size: var(--header-font);
    text-align: center;
    line-height: 1.5;
    padding-block: 1rem;
    margin-inline: var(--vertical-margin);
    color: var(--primary-color);
    font-style: italic;
}

.lad-clothe>img {
    height: 80vh;
    width: 100vw;
    object-position: 100% 25%;
    object-fit: cover;
}

.kids-clothe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2rem;
    margin-block: 3rem;
}

.kids-clothe>img {
    width: 60vw;
    border-radius: 2rem;
}

.kids3 {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-inline: var(--vertical-margin);
}

.kids3-text{
    font-size: var(--header-font);
    min-width: 30ch;
    flex: 1;
}

.kids3-text>p{
    font-family: 'Lora', serif;
    text-align: center;
    padding-block: 1rem 2rem;
}

.kids3>img{
    flex: 1;
    width: 60vw;
    height: 80vh;
    object-fit: cover;
}

@media (max-width: 576px) {
    .kids-clothe>img{
        width: 90vw;
    }

    .kids3-text>p{
        text-align: start;
        line-height: 1.5;
    }
}
